/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 de out. de 2023, 21:30:24
    Author     : Eliakim
*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
}

body, html{
    height: 100%;
}


.div-geral{
   display: flex;
   height: 100%;
   background: #F5F5F5;
}

.menu-lateral{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.body{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.content{
    flex: 1;
    border-radius: 5px;
    padding: 24px;
    padding: 15px;
    background: #FFF;
}

.h1{
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 0px;
    color: #002C6F;
}
.painel{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.anuncio{
    display: flex;
    height: 150px;
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
}
.content-anuncio{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between
}

.form-button{
  padding: 7px 0px;
  background-color: #002C6F;
  color: #FFF;
  font-size: 18px;
  border-radius: 6px;
  font-weight: bold;
  text-align: center;
}

.form-button:hover{
  transform: scale(1.02);
}