/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 4 de out. de 2023, 20:38:42
    Author     : lucas
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
    display: flex;
    margin: 0;
}

.menu {
    width: 200px;
    background-color: #002C6F;
    height: 100%;
    position: fixed;
}

.menu ul {
    list-style-type: none;
    padding: 0;
}

.menu li a {
    display: block;
    color: white;
    padding: 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #555;
}