/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 10 de out. de 2023, 16:02:20
    Author     : Eliakim
*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;

}
.btt-cadastra{
    background: #002C6F;
    color: white;
    border-radius: 20px;
    height: 35px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;

}
.btt-cadastra p {
    margin: 0px 10px;
    font-size: 18px;
}
.btt-cadastra:hover{
    background: #003d6b;

}