
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

main{
  display: flex;
  background-color: #f4f4f4;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

main img{
  width: 343px;
  height: 298px;
}

.container-login{
  background-color: #FFF;
  width: 474px;
  height: 477px;
  border:  1px solid #BFB7B7;
  border-radius: 15px;
  padding: 15px;
}

.container-login h2{
  color: #002C6F;
  font-size: 26px;
}

.content-input{
  width: 427px;
  height: 375px;
  background-color: #FFF;
  border: 1px solid #BFB7B7;
}
