<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>br.com.bean.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>br.com.bean.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletTeste</servlet-name>
        <servlet-class>br.com.bean.ServletTeste</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletItem</servlet-name>
        <servlet-class>br.com.bean.ServletItem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/cadastrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/ValidarLogin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletTeste</servlet-name>
        <url-pattern>/enviar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletItem</servlet-name>
        <url-pattern>/CadastrarItem.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
